{% extends "base.html" %}

{% block content %}
    <!-- 自定义操作按钮-->
    <div id="sqladvisor-toolbar" class="btn-group right" style="display:none;">
        <button id=sqladvisor class="btn btn-default" style="" type="button">获取优化建议</button>
    </div>
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        <li id="backuplist_tab" class="active">
            <a href="#" role="tab" data-toggle="tab">备份列表</a>
        </li>
        <div class="form-inline pull-right">
            <div class="form-group">
                <select id="group_name" name="group_name"
                        class="selectpicker show-tick form-control bs-select-hidden"
                        data-name="组" data-placeholder="请选择组！"
                        title="请选择组"
                        data-live-search="true" required>
                    {% for group in group_list %}
                        <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select id="instance_name" name="instance_name"
                        class="selectpicker show-tick form-control bs-select-hidden"
                        data-name="实例" data-placeholder="请选择实例！"
                        title="请选择实例"
                        data-live-search="true" required>
                    <optgroup id="optgroup-mysql" label="MySQL"></optgroup>
                    <optgroup id="optgroup-mssql" label="MsSQL"></optgroup>
                    <optgroup id="optgroup-redis" label="Redis"></optgroup>
                    <optgroup id="optgroup-pgsql" label="PgSQL"></optgroup>
                    <optgroup id="optgroup-oracle" label="Oracle"></optgroup>
                    <optgroup id="optgroup-mongo" label="Mongo"></optgroup>
                    <optgroup id="optgroup-phoenix" label="Phoenix"></optgroup>
                </select>
            </div>
            <div class="form-group">
                <select id=db_name class="form-control selectpicker" name="db_name_list"
                        title="请选择数据库:"
                        data-live-search="true">
                </select>
            </div>
            <div class="form-group">
                <input id="reservation" type="text" readonly class="form-control"/>
            </div>
        </div>
    </ul>
    <!-- Tab panes -->
    <div id="tab-content" class="tab-content">
        <!-- 备份文件列表-->
        <div id="backupfiles" role="tabpanel" class="tab-pane fade in active table-responsive">
            <table id="backupfiles-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;word-break:break-word;overflow:hidden;text-overflow:ellipsis;"></table>

        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <link href="{% static 'daterangepicker/css/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'daterangepicker/js/moment.min.js' %}"></script>
    <script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'bootstrap-table/export-libs/FileSaver/FileSaver.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/export-libs/js-xlsx/xlsx.core.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <!-- 选择框和切换控件 -->
    <script>
        // 初始化时间控件
        $('#reservation').daterangepicker({
            startDate: moment().startOf('day'),
            endDate: moment(),
            locale: {
                "format": "YYYY-MM-DD",// 显示格式
                "separator": " / ",// 两个日期之间的分割线
                // 中文化
                "applyLabel": "确定",
                "cancelLabel": "取消",
                "fromLabel": "开始",
                "toLabel": "结束",
                "customRangeLabel": "自定义",
                "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                "monthNames": ["一月", "二月", "三月", "四月", "五月", "六", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                "firstDay": 1
            },
            ranges: {
                "今日": [moment().startOf('day'), moment()],
                "昨日": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                "最近7日": [moment().subtract('days', 6), moment()],
                "最近30日": [moment().subtract('days', 29), moment()],
                "本月": [moment().startOf("month"), moment().endOf("month")],
                "上个月": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
            }
        }, function (start, end, label) {
            // 设置最小宽度，否则显示不全
        }).css("min-width", "210px").next("i").click(function () {
            // 对日期的i标签增加click事件，使其在鼠标点击时可以拉出日期选择
            $(this).parent().find('input').click();
        });

        //时间变动保存
        $('#reservation').on('apply.daterangepicker', function (ev, picker) {
            sessionStorage.removeItem('SQLId');
            var start_date = picker.startDate.format('YYYY-MM-DD');
            var end_date = picker.endDate.format('YYYY-MM-DD');
            sessionStorage.setItem('start_date', start_date);
            sessionStorage.setItem('end_date', end_date);
            check()
        });

        //实例变动自动获取数据库
        $("#instance_name").change(function () {
            sessionStorage.setItem('slow_query_instance_name', $("#instance_name").val());
            sessionStorage.removeItem('slow_query_db_name');
            sessionStorage.removeItem('SQLId');
            get_db_list();

        });

        //获取数据库列表,并且获取日志数据
        function get_db_list() {
            //将数据通过ajax提交给获取db_name
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name option:selected").text(),
                    resource_type: "database"
                },
                complete: function () {
                    check()
                },
                success: function (data) {
                    if (data.status == 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#db_name").append(name);
                        }
                        $("#db_name").prepend("<option value=\"\" selected=\"selected\">全部数据库</option>");
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        //数据库变动自动获取日志
        $("#db_name").change(function () {
            check()
        });


    </script>
    <!-- 获取备份列表 -->
    <script>
        function check() {
            $("#sqladvisor-toolbar").hide();
            var instance_name = $("#instance_name").val();
            if (instance_name) {
                //初始化table
                $('#backupfiles-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/backupcheck/check/",
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                    pageSize: 30,                     //每页的记录行数（*）
                    pageList: [30, 50, 100, 1000],       //可供选择的每页的行数（*）
                    search: false,                      //是否显示表格搜索
                    strictSearch: false,                //是否全匹配搜索
                    showColumns: true,                  //是否显示所有的列（选择显示的列）
                    showRefresh: true,                  //是否显示刷新按钮
                    showExport: true,                   //是否显示导出按钮
                    exportTypes: ['json', 'sql', 'csv', 'txt', 'xml', 'xlsx'],
                    exportOptions: {
                        ignoreColumn: [0],  //忽略某些列的索引数组
                        fileName: 'backup_files'  //文件名称设置
                    },
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                    showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: true,                  //是否显示父子表
                    queryParamsType: 'limit',
                    queryParams: function (params) {
                        var instance_name = $("#instance_name").val();
                        // var db_name = $("#db_name").val();
                        var StartTime = $('#reservation').data('daterangepicker').startDate.format('YYYY-MM-DD');
                        var EndTime = $("#reservation").data('daterangepicker').endDate.format('YYYY-MM-DD');

                        return {
                            instance_name: instance_name,
                            // db_name: db_name,
                            StartTime: StartTime,
                            EndTime: EndTime,
                            limit: params.limit,
                            offset: params.offset,
                            // search: params.search
                        }
                    },
                    columns: [{
                        title: '备份时间',
                        field: 'Date'
                    }, {
                        title: '备份文件名',
                        field: 'FileName'
                    }, {
                        title: '任务开始时间',
                        field: 'StartTime',
                    }, {
                        title: '任务结束时间',
                        field: 'FinishTime'
                    }, {
                        title: '文件大小',
                        field: 'Size'
                    }, {
                        title: '类型',
                        field: 'Type'
                    }, {
                        title: '备份方式',
                        field: 'Way'
                    }, {
                        title: '备份方法',
                        field: 'Method'
                    }, {
                        title: '状态',
                        field: 'Status'
                    },
                    {
                        title: '操作',
                        field: '',
                        formatter: function (value, row, index) {
                            if (row.Status === '成功' || row.Status === '备份成功') {
                                {#var btn_test = "<a href='" + row.Url + "' target='_blank' class=\"btn btn-success btn-xs\" " + "\">↓下载</a>\n";#}
                                var btn_download = "<button class=\"btn btn-success btn-xs\" Url=\"" + row.Url + "\" FileName=\"" + row.FileName + "\" instance_name=\"" + instance_name + "\" Bytes=\"" + row.Bytes + "\" onclick=\"download(this)" + "\">下载</button>\n";
                                return btn_download
                                // return btn_test
                            } else {
                                var btn_test = "<a class=\"btn btn-danger btn-xs\" " + "\">备份失败！</a>\n";
                                // return btn_test
                            }
                            return btn_test
                        }
                    }
                    ],
                    locale: 'zh-CN',
                    onLoadError: function () {
                        alert("数据加载失败！请检查接口返回信息和错误日志！");
                    },
                    onSearch: function (e) {
                        //传搜索参数给服务器
                        queryParams(e)
                    },
                    responseHandler: function (res) {
                        //在ajax获取到数据，渲染表格之前，修改数据源
                        return res;
                    }
                });
            } else {
                alert('请选择实例')
            }
        }

        function download(obj) {
            alert("已提交下载请求，无需重复操作，请点击确定按钮，并耐心等待..")
            $.ajax({
                type: "post",
                url: "/backupcheck/download/",
                dataType: "json",
                data: {
                    'URL': $(obj).attr("Url"),
                    'FileName': $(obj).attr("FileName"),
                    'instance_name': $(obj).attr("instance_name"),
                    'Bytes': $(obj).attr("Bytes")
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        alert(data.msg)
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        $("#group_name").change(function () {
            $.ajax({
                type: "post",
                url: "/group/instances/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    tag_code: 'can_write'
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data['data'];
                        $("#optgroup-mysql").empty();
                        $("#optgroup-oracle").empty();
                        $("#optgroup-mssql").empty();
                        $("#optgroup-redis").empty();
                        $("#optgroup-pgsql").empty();
                        $("#optgroup-phoenix").empty();
                        $("#optgroup-mongo").empty();
                        for (var i = 0; i < result.length; i++) {
                            var instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                            if (result[i]['db_type'] === 'mysql') {
                                $("#optgroup-mysql").append(instance);
                            } else if (result[i]['db_type'] === 'mssql') {
                                $("#optgroup-mssql").append(instance);
                            } else if (result[i]['db_type'] === 'redis') {
                                $("#optgroup-redis").append(instance);
                            } else if (result[i]['db_type'] === 'pgsql') {
                                $("#optgroup-pgsql").append(instance);
                            } else if (result[i]['db_type'] === 'oracle') {
                                $("#optgroup-oracle").append(instance);
                            } else if (result[i]['db_type'] === 'mongo') {
                                $("#optgroup-mongo").append(instance);
                            } else if (result[i]['db_type'] === 'phoenix') {
                                $("#optgroup-phoenix").append(instance);
                            }
                        }
                        $('#instance_name').selectpicker('render');
                        $('#instance_name').selectpicker('refresh');
                        $("#db_name").empty();
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

    </script>
{% endblock %}

